# Puerto donde corre el aplicativo frontend
PORT=3000

# URL base del Backend API en Django
API_URL=http://localhost:8000/api

# Client ID para autenticación con Google OAuth
GOOGLE_CLIENT_ID=731815648196-0i12ig1acoqt3gj2tg4jlh1ge3p6nb79.apps.googleusercontent.com

# GEMINI_API_KEY: Requerido para llamadas de API de Gemini.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: URL donde está alojada la app.
APP_URL="MY_APP_URL"
